
.env
secrets.env
*.log
archive/
.DS_Store
.venv/
__pycache__/
*.pyc
*.pem
*.key
*.dump
*.sql
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
crash.*.log
terraform/tfplan
